@model CRMApplication.Models.Client
<style>
    body {
        background-color: lightblue
    }
</style>

@{
    ViewBag.Title = "Preview";
}

<h2>Preview</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal" style="border:double">
        <dt>
             @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "BuyProduct", new { id = Model.ID })
</p>
